nav {
    margin-bottom: 30px;
    background-color: #c90a0a;
}

i {
    padding-left: 2400%;
    
}

.contador {
    width: fit-content;
    background-color: #c90a0a;
    margin: auto;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}
